[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=rofi -no-lazy-grab -combi-modi window,run,drun -show combi -modi combi -theme $HOME/.config/rofi/launcher/style -drun-icon-theme "candy-icons"
Name=Doom launcher
Icon=/home/abandon/.icons/abandon/desktop/ucrit2.gif
